body {
    background: url('../imgs/alex-tXYg4Zx7kSU-unsplash.jpg') no-repeat center fixed;
    background-size: cover;
}

#idd {
    font-size: 50px;
    color: white;
}

a {
    text-decoration: none;
}

.alert, .close {
    line-height: 1px;
    margin-top: -5px;
}

label {
    color: white;
}

#tableButton {
    height: 120px;
}

#alert-box {
    margin-top: 80px;
}