#AddClassForm {
    margin-top: 100px;
}

body {
    overflow-x: hidden;
}

#AddClassMembers {
    margin-top: 40px;
}

.header {
    position: sticky;
    top: 0;
}

.cont {
    height: 75vh;
    overflow-x: hidden;
}

.btn-success, .btn-danger {
    width: 10px;
    height: 5px;
}

.fa-minus-circle {
    color: #dc3545;
}

#Individuals {
    margin-top: 40px;
}

#RegisterCourses {
    margin-top: 40px;
}

