#AddClassForm {
    margin-top: 100px;
}

body {
    overflow-x: hidden;
}

#AddClassMembers {
    margin-top: 40px;
}

.fixTableHead {
    overflow-y: auto;
    height: 430px;
}

#Individuals {
    margin-top: 40px;
}